.video__item-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  position: relative;
  margin:  0 0 30px 30px;
  z-index: 2;
}

@media screen and (max-width: 900px) {
  .video__item-subtitle {
    margin:  0 0 24px 24px;
  }
}

@media screen and (max-width: 320px) {
  .video__item-subtitle {
    margin:  0 0 16px 16px;
  }
}
