.video__item-icon-play {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 30px;
}

@media screen and (max-width: 900px) {
  .video__item-icon-play {
   top: 24px;
   left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .video__item-icon-play {
   top: 16px;
   left: 16px;
  }
}
