.content__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  max-width: 800px;
  margin: 102px 0 48px;
}

@media screen and (max-width: 768px) {
  .content__title {
    max-width: 600px;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 500px) {
  .content__title {
    font-size: 32px;
    line-height: 35px;
    margin: 64px 0 16px;
  }
}
