.cover {
  max-width: 1184px;
  margin: 92px auto;
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 88px auto;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin: 66px auto 0;
  }
}
