.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 23.722% auto 32px;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    margin: 195px auto 32px;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    margin: 115px auto 32px;
  }
}

@media screen and (max-width: 580px) {
  .cover__title {
    margin: 29.698% auto 4.174%;
    font-size: 32px;
    line-height: 35px;
  }
}

@media screen and (max-width: 370px) {
  .cover__title {
    margin: 21.02% auto 1.174%;
  }
}


